@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --text-primary: #221c1d;
  --text-secondary: #666666;

  --feedback-green: #b8ebb0;
  --feedback-warning: #f0ca81;
  --feedback-error: #de1d3e;

  --tag-mobile: #de1d6e;
  --tag-web: #4f1dde;
}

[data-mode="dark"] {
  --text-primary: #221c1d;
  --text-secondary: #666666;

  --feedback-green: #b8ebb0;
  --feedback-warning: #f0ca81;
  --feedback-error: #de1d3e;

  --tag-mobile: #de1d6e;
  --tag-web: #4f1dde;
}

[data-mode="light"] {
  --text-primary: #221c1d;
  --text-secondary: #666666;

  --feedback-green: #b8ebb0;
  --feedback-warning: #f0ca81;
  --feedback-error: #de1d3e;

  --tag-mobile: #de1d6e;
  --tag-web: #4f1dde;
}

@media (prefers-colors-scheme: dark) {
  :root {
    --text-primary: #221c1d;
    --text-secondary: #666666;

    --feedback-green: #b8ebb0;
    --feedback-warning: #f0ca81;
    --feedback-error: #de1d3e;

    --tag-mobile: #de1d6e;
    --tag-web: #4f1dde;
  }
}

@media (prefers-colors-scheme: light) {
  :root {
    --text-primary: #221c1d;
    --text-secondary: #666666;

    --feedback-green: #b8ebb0;
    --feedback-warning: #f0ca81;
    --feedback-error: #de1d3e;

    --tag-mobile: #de1d6e;
    --tag-web: #4f1dde;
  }
}
